* {
  
}

h1 {
  padding: 20px;
}

p {
  padding: 0px 60px 20px 60px;
}

.App {
  text-align: center;
  background-color: #F0F1F6;
}

.flex-container {
  display: flex;
  justify-content:space-between;
}

.flex-container item {
  flex: 1;
}

.flex-container item {
  flex: 1;
}

.button-started {
  background-color: #2BD1D1;
  border: 0;
  border-radius: 30px;
  width: 140px;
  height: 40px;
  color: #ffffff;
  font-weight: 800;
}

.form2 .button {
  background-color: #2BD1D1;
  border: 0;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  color: #ffffff;
}

.item p {
  color: #A19EA5;
}

.form1 {
  width: 100%;
  margin: 5px 0 5px 0;
  color: #A19EA5;
}

.form1 input {
  color: #A19EA5;
  width: 145px;
  height: 25px;
  padding-left: 5px;
  border-radius: 5px;
  border: 0;
}

.form1 input text {
  padding-left: 5px;
}

.form2 {
  margin: 5px 0 5px 0;
  width: 100%;
}

form  {
  background-image: url(bg-shorten-mobile.svg);
  width: auto;
}
.form-bg {
  background-image: url(bg-shorten-mobile.svg);
  width: 250px;
  display: inline-block;
  background-color: #4B406B;
  border-radius: 5px;
  margin-top: 35px;
}

.test {
  background-image: url(illustration-working.svg);
  height: 20px;
  width: 100%;
}

.item-link {
  width: auto;
}

.link {
  width: 200px;
  display: inline-block;
}

.link button {
  background-color: #2BD1D1;
  border: 0;
  border-radius: 5px;
  width: 210px;
  height: 25px;
  color: #ffffff;
}

.link-top {
  border-bottom: 1px solid #F0F1F6;
  padding: 5px;
}

.link-bottom {
  padding: 5px;
}

.item-link a {
  width: 100%;
  text-decoration: none;
  padding: 5px;
}

.link-top a {
  color: #000;
}

.link-bottom  a {
  color: #2BD1D1;
}

.item-box {
  width: 250px;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.item-category {
  width: auto;
  position: relative;
}

.item-recognition {
  width: 64px;
  height: 64px;
  position: absolute;
  top:-2%;
  left:50%;
  transform:translate(-50%, -50%);
  background-color: #3A3052;
  background-position: center;
  border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
  background-image: url(icon-brand-recognition.svg);
  background-repeat: no-repeat;
  padding: 5px;
  display: inline-block;
}

.item-customizable {
  width: 64px;
  height: 64px;
  position: absolute;
  top:-2%;
  left:50%;
  transform:translate(-50%, -50%);
  background-color: #3A3052;
  background-position: center;
  border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
  background-image: url(icon-detailed-records.svg);
  background-repeat: no-repeat;
  padding: 5px;
  display: inline-block;
}

.item-circus {
  width: 64px;
  height: 64px;
  position: absolute;
  top:-2%;
  left:50%;
  transform:translate(-50%, -50%);
  background-color: #3A3052;
  background-position: center;
  border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    background-image: url(icon-fully-customizable.svg);
  background-repeat: no-repeat;
  padding: 5px;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .flex-container {

  }
  .flex-container img {
    width: 100%;
  }
}
