.App {
  text-align: center;
}

.flex-container {
  display: flex;
      flex-direction: column;
}

.flex-container item {
  flex: 1;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .flex-container {

  }
  .flex-container img {
    width: 100%;
  }
}
