* {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 20px;
}

p {
  padding: 0px 60px 0px 60px;
}

.App {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content:space-between;
}

.flex-container item {
  flex: 1;
}

.flex-container item {
  flex: 1;
}

.button-started {
  background-color: #2BD1D1;
  border: 0;
  border-radius: 30px;
  width: 120px;
  padding: 13px;
  color: #ffffff;
  font-weight: 800;
  margin: 20 0 0 0;
}

.form2 .button {
  background-color: #2BD1D1;
  border: 0;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  color: #ffffff;
}

.item p {
  color: #A19EA5;
}

.form1 {
  width: 100%;
  margin: 5px 0 5px 0;
}
.form2 {
  margin: 5px 0 5px 0;
  width: 100%;
}

form  {
  background-image: url(bg-shorten-mobile.svg);
  width: auto;
}
.form-bg {
  background-image: url(bg-shorten-mobile.svg);
  width: 210px;
  display: inline-block;
  background-color: #4B406B;
  border-radius: 5px;
}

.test {
  background-image: url(illustration-working.svg);
  height: 20px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .flex-container {

  }
  .flex-container img {
    width: 100%;
  }
}
